<header>
    <div class="powells-logo">
        <img src="images/logo-0714.jpg">
    </div>
</header>
        
<main>
    <div class="nav_bar">
        <ul class="navbar">
            <li><a class="active" href="index.hbs">Home</a></li>
            <li><a href="books.hbs">Books</a></li>
            <li><a href="authors.hbs">Authors</a></li>
            <li><a href="genres.hbs">Genres</a></li>
            <li><a href="customers.hbs">Customers</a></li>
            <li><a href="sales.hbs">Sales</a></li>
            <li><a href="books_authors.hbs">Books-Authors</a></li>
        </ul>
    </div>

    <div>
        <h1>Select from the menu above.</h1>
    </div>
    
</main>

<footer>
    <p>&copy Powell's Books Database Interface - Created by Team #42</p>
</footer>